.about-us {
  max-width: 1100px;
  height: 700px;
  display: flex;
  margin: auto;
  padding: 3rem 0;
}

.about-us-text-container {
  width: 50%;
  padding-right: 4rem;
}

.about-us-text {
  color: #495e57;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 2rem;
}

.about-us-img-container {
  position: relative;
  width: 50%;
}
.about-us-img {
  height: 55%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
}

.about-us-img:first-of-type {
  position: relative;

  top: 0;
  right: 0;
}
.about-us-img:last-of-type {
  position: absolute;

  bottom: 0;
  right: 0;
}
