.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: white;
  height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px;
  z-index: 10;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
  padding: 1rem 0;
}

.header-logo {
  height: 3.5rem;
}

@media screen and (max-width: 850px) {
  .header-logo {
    margin-left: 1rem;
  }
}
