main {
  background-color: #495e57;
  height: 400px;
  padding-top: 3rem;
  margin-bottom: 4rem;
}

.main-container {
  max-width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.main-sub {
  color: white;
}

.main-text {
  max-width: 500px;
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 1rem 0;
}

.main-button {
  font-size: 1.5rem;
  font-weight: 700;
}

.main-button:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.main-img {
  height: 400px;
  width: 350px;
  object-fit: cover;
  border-radius: 16px;
}
