.navigation-bar {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1.1rem;
  color: #495e57;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 600;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: unset;
    margin-right: 1rem;
  }
  .navigation-bar {
    background-color: white;
    position: absolute;
    right: 0;
    top: 5rem;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0 0 0 25px;
  }
  .nav-link {
    height: 3rem;
    margin-left: 0;
  }
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 450px) {
}
