.specials {
  max-width: 1100px;
  height: 650px;
  display: block;
  margin: auto;
  padding: 2rem 0 1rem 0;
}

.specials-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.specials-cards {
  padding: 2rem 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.specials-card {
  border-radius: 25px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
}

.card-img-container {
  height: 45%;
  width: 100%;
  overflow: hidden;
}

.specials-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.specials-img:hover {
  transform: scale(1.1);
}

.card-text-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 1rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ec5454;
}

.card-text {
  color: #495e57;
  line-height: 1.5;
  max-width: 65ch;
}

.order-button {
  padding: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .specials {
    height: auto;
  }

  .specials-title {
    padding: 0 1rem;
  }
  .specials-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .specials-card {
    width: 50%;
    aspect-ratio: 3/4;
  }
}

@media screen and (max-width: 450px) {
  .specials-title {
    flex-direction: column;
    align-items: center;
  }
  .specials-card {
    width: 90%;
    aspect-ratio: 3/4;
  }
}
