.testimonials {
  height: 600px;
  background-color: #495e57;
}

.testimonials-container {
  max-width: 1100px;
  display: block;
  margin: auto;
}

.testimonials-title {
  color: white;
  padding: 2rem 0;
}

.testimonial-card-container {
  color: #495e57;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 400px;
  aspect-ratio: 3/4;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(209, 209, 209, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-top {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.testimonial-text {
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.testimonial-img {
  position: relative;
  top: -50px;
  height: 100px;
  border-radius: 50%;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: 600;
}
